@use "../../../../assets/utilities/mixins";

:host {
  .item {
    background-color: #fff;
    box-shadow: 0 0 5px #708090 inset;
    border-radius: 7px;
    @include mixins.flex-center;
    flex-grow: 1;
    justify-content: space-between;
    margin-block: 2px;
    padding: 1rem;
    text-transform: capitalize;

    div {
      @include mixins.flex-center;
      gap: 0.7rem;

      span {
        font-weight: 500;
      }
    }
  }
}
