:host {
  margin-bottom: auto;

  .center-message {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-inline: auto;
    max-width: 550px;
    text-align: center;
    width: 100%;
  }
}
