@use "../../../../assets/utilities/mixins";

:host {
  .paginationControls {
    border-radius: 8px;
    @include mixins.flex-center;
    margin-inline: auto;
    width: max-content;
  }
}

@media (max-width: 450px) {
  :host {
    .paginationControls {
      font-size: 12px;
    }
  }
}

@media (max-width: 300px) {
  :host {
    .paginationControls {
      font-size: 8px;
    }
  }
}
