<section class="user">
  <button
    class="delete-account-button rounded-circle-button"
    (click)="openDeleteAccountPopup()"
    matTooltip="Delete Account"
    aria-label="Button to delete your account"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Delete Icon"
      fontIcon="delete"
    ></mat-icon>
  </button>

  <button
    class="logout-button rounded-circle-button"
    (click)="openLogoutPopup()"
    matTooltip="Logout"
    aria-label="Button to log out your account"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Logout Icon"
      fontIcon="logout"
    ></mat-icon>
  </button>

  <div class="profile-picture-container">
    <button
      type="button"
      class="toggle-profile-picture-button"
      (click)="toggleCurrentProfilePicture()"
      matTooltip="Switch Profile Picture"
      aria-label="Button to change your profile picture between Ash (a boy) and Serena (a girl)"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Toggle Icon"
        fontIcon="compare_arrows"
      ></mat-icon>
    </button>

    <img
      src="{{
        currentProfilePicture === 'Ash'
          ? ashKetchumProfilePicture
          : serenaProfilePicture
      }}"
      alt="Ash Ketchum"
      class="profile-picture"
    />
  </div>

  <h3>{{ userData.name }}</h3>

  <span>Favorite Pokémons: {{ userData.favoritePokemonList.length }}</span>
  <span>{{
    userData.address ? userData.address : "City, State/Province, Country"
  }}</span>
</section>

<app-confirm-popup
  *ngIf="isPopupOpen"
  [popupMessage]="chosenPopup.message"
  [yesMethod]="chosenPopup.method"
  (closeConfirmPopupEvent)="closeConfirmPopup()"
></app-confirm-popup>
