@use "../../../../assets/utilities/mixins";

:host {
  background-color: #000000aa;
  @include mixins.flex-center;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
