@use "../../../../assets/utilities/mixins";

:host {
  .input-field {
    position: relative;

    .input-icon {
      @include mixins.flex-center;

      font-size: 20px;
      left: 6px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      padding: 8px;
      padding-left: 32px;
      width: 100%;

      &:focus {
        border: 1px solid #413939;
        box-shadow: 0 0 5px #413939;
        outline: none;
      }

      &::placeholder {
        transition: all 0.12s ease-out;
      }

      &:focus::placeholder {
        font-size: 11px;
        position: absolute;
        top: 3px;
      }
    }

    input.error {
      border: 1px solid #9d171b;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      @include mixins.flex-center;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%) scale(0.9);
      width: max-content;
      z-index: 1;

      &.hide-password-button {
        right: 7.55px;
      }

      svg {
        width: 28px;
      }
    }
  }
}
