<header>
  <h2>PokéBoard</h2>

  <div
    class="user-bar"
    (click)="navigateToMyProfileRoute()"
    matTooltip="Go To My Profile"
    aria-label="Button to navigate to My Profile Route"
    role="button"
  >
    <div class="profile-picture-container">
      <img src="{{ profilePicture }}" alt="{{ user.name }}'s Profile Picture" />
    </div>

    <p>{{ user.name }}</p>
  </div>
</header>

<section class="pokeboard">
  <section class="your-pokemon-team">
    <h3>Your Team</h3>

    <div class="pokemon-team">
      <app-pokemon-for-team
        *ngFor="let pokemon of pokemonTeam"
        [pokemonForTeam]="pokemon"
      ></app-pokemon-for-team>
    </div>
  </section>

  <aside>
    <section class="your-items">
      <h3>Your Items</h3>

      <div class="items">
        <app-item *ngFor="let item of pokemonItems" [item]="item"></app-item>
      </div>
    </section>

    <section class="nearby-pokemons-container">
      <h3>Nearby Pokémons</h3>

      <div class="nearby-pokemons">
        <app-nearby-pokemon
          *ngFor="let nearbyPokemon of nearbyPokemons"
          [pokemon]="nearbyPokemon"
        ></app-nearby-pokemon>
      </div>
    </section>
  </aside>
</section>
