.grass {
  color: #82ad42;
}

.bug {
  color: #729f3f;
}

.electric {
  color: #e7ca0b;
}

.ground {
  color: #ab9842;
}

.poison {
  color: #b97fc9;
}

.fire {
  color: red;
}

.flying {
  color: #849196;
}

.water {
  color: #4592c4;
}
