.normal {
  color: #a8a878;
}

.fire {
  color: #f08030;
}

.water {
  color: #6890f0;
}

.grass {
  color: #78c850;
}

.electric {
  color: #f8d030;
}

.ice {
  color: #98d8d8;
}

.fighting {
  color: #c03028;
}

.poison {
  color: #a040a0;
}

.ground {
  color: #e0c068;
}

.flying {
  color: #a890f0;
}

.psychic {
  color: #f85888;
}

.bug {
  color: #a8b820;
}

.rock {
  color: #b8a038;
}

.ghost {
  color: #705898;
}

.dark {
  color: #705848;
}

.dragon {
  color: #7038f8;
}

.steel {
  color: #b8b8d0;
}

.fairy {
  color: #f0b6bc;
}
