// Color
.normal {
  color: #a8a878;
}

.fire {
  color: #f08030;
}

.water {
  color: #6890f0;
}

.grass {
  color: #78c850;
}

.electric {
  color: #f8d030;
}

.ice {
  color: #98d8d8;
}

.fighting {
  color: #c03028;
}

.poison {
  color: #a040a0;
}

.ground {
  color: #e0c068;
}

.flying {
  color: #a890f0;
}

.psychic {
  color: #f85888;
}

.bug {
  color: #a8b820;
}

.rock {
  color: #b8a038;
}

.ghost {
  color: #705898;
}

.dark {
  color: #705848;
}

.dragon {
  color: #7038f8;
}

.steel {
  color: #b8b8d0;
}

.fairy {
  color: #f0b6bc;
}

// Background-Color
.normal--background {
  background-color: #a8a878;
}

.fire--background {
  background-color: #f08030;
}

.water--background {
  background-color: #6890f0;
}

.grass--background {
  background-color: #78c850;
}

.electric--background {
  background-color: #f8d030;
}

.ice--background {
  background-color: #98d8d8;
}

.fighting--background {
  background-color: #c03028;
}

.poison--background {
  background-color: #a040a0;
}

.ground--background {
  background-color: #e0c068;
}

.flying--background {
  background-color: #a890f0;
}

.psychic--background {
  background-color: #f85888;
}

.bug--background {
  background-color: #a8b820;
}

.rock--background {
  background-color: #b8a038;
}

.ghost--background {
  background-color: #705898;
}

.dark--background {
  background-color: #705848;
}

.dragon--background {
  background-color: #7038f8;
}

.steel--background {
  background-color: #b8b8d0;
}

.fairy--background {
  background-color: #f0b6bc;
}
