<mat-card class="pokemon-card" tabindex="0" (click)="openCardModal($event)">
  <mat-card-header [ngStyle]="{ padding: 0 }">
    <mat-card-title-group>
      <mat-card-title>{{ pokemon.name | capitalizeString }}</mat-card-title>

      <mat-card-subtitle
        *ngIf="pokemon.types.length === 1; else doubleType"
        class="types"
      >
        <span [ngClass]="pokemon.types[0]">{{
          pokemon.types[0] | capitalizeString
        }}</span>
      </mat-card-subtitle>

      <ng-template #doubleType>
        <mat-card-subtitle class="types">
          <span [ngClass]="pokemon.types[0]">{{
            pokemon.types[0] | capitalizeString
          }}</span>
          -
          <span [ngClass]="pokemon.types[1]">{{
            pokemon.types[1] | capitalizeString
          }}</span>
        </mat-card-subtitle>
      </ng-template>
    </mat-card-title-group>

    <button
      class="mark-pokemon-as-favorite-button"
      (click)="!isFavorite ? markPokemonAsFavorite() : openConfirmPopup()"
    >
      <mat-icon
        #starIcon
        class="star-icon"
        aria-hidden="false"
        aria-label="Star Icon"
        role="button"
        tabindex="0"
        fontIcon="{{ !isHover ? 'star_border' : 'star' }}"
        (mouseenter)="!isFavorite ? onMouseEnterStar() : null"
        (mouseleave)="!isFavorite ? onMouseLeaveStar() : null"
      ></mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <img
      [ngClass]="'pokemon-image'"
      src="{{ pokemon.imgSrc }}"
      alt="Pokémon {{ pokemon.name | capitalizeString }}"
    />
  </mat-card-content>

  <mat-card-footer>
    <img
      [ngClass]="'pokemon-logo'"
      src="https://i.pinimg.com/originals/29/d6/e9/29d6e9ae28a342b4addaa285cc8773d7.png"
      alt="Pokémon Logo"
    />
  </mat-card-footer>
</mat-card>

<app-card-modal
  *ngIf="isCardModalOpen"
  (closeModalEvent)="closeModal()"
  [pokemonData]="pokemon"
  (click)="handleClickEvent($event)"
  id="appCardModal"
></app-card-modal>

<app-confirm-popup
  *ngIf="isPopupOpen"
  [popupMessage]="unmarkFavoritePokemonMessage"
  [yesMethod]="'unmarkPokemonAsFavorite'"
  (isUnmarkFavoritePokemonAllowedEvent)="unmarkPokemonAsFavorite()"
  (closeConfirmPopupEvent)="closeConfirmPopup()"
></app-confirm-popup>
