@use "../../../assets/utilities/mixins";

:host {
  @include mixins.flex-center(column);
  padding: 20px;
  width: 100%;

  h2 {
    color: #fff;
    font-size: 1.9rem;
    margin-bottom: auto;
  }

  .user-profile {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 2fr;
    margin-bottom: auto;

    .banner-container {
      display: flex;

      .banner {
        border-radius: 5px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  :host {
    .user-profile {
      grid-template-columns: 1fr;
      padding-top: 20px;
    }
  }
}
