<h2>My Profile</h2>

<section class="user-profile">
  <app-user-info [userData]="user"></app-user-info>

  <app-user-data
    (openUserDataCrudEvent)="openUserDataCrud()"
    [userData]="user"
  ></app-user-data>

  <app-user-links
    (openUserLinksCrudEvent)="openUserLinksCrud()"
    [userData]="user"
  ></app-user-links>

  <section class="banner-container">
    <img
      src="../../../assets/img/pokemon-unite-key-art-banner.webp"
      alt="Pokémon Banner"
      class="banner"
    />
  </section>
</section>

<app-crud-user-links
  [userData]="user"
  (closeUserLinksCrudEvent)="closeUserLinksCrud()"
  *ngIf="isUserLinksCrudOpen"
></app-crud-user-links>

<app-crud-user-data
  [userData]="user"
  (closeUserDataCrudEvent)="closeUserDataCrud()"
  *ngIf="isUserDataCrudOpen"
></app-crud-user-data>
