@use "../../../assets/utilities/mixins";

:host {
  @include mixins.flex-center(column);
  padding: 20px;
  width: 100%;

  h2 {
    color: #fff;
    font-size: 1.9rem;
    margin-bottom: auto;
  }

  .user-profile {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 2fr;
    margin-bottom: auto;

    > section {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 4px #00000088 inset;
    }

    ul {
      list-style: none;
    }

    .user {
      @include mixins.flex-center(column);
      gap: 4px;
      padding: 20px;

      .profile-picture {
        margin-bottom: 5px;
        max-width: 100px;
      }

      span {
        color: #686868;
      }
    }

    .user-data {
      padding-inline: 15px;
      position: relative;

      .edit-button {
        background-color: #9d171b;
        border: none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        @include mixins.flex-center;
        gap: 5px;
        padding: 10px;
        position: absolute;
        right: -1.5%;
        top: -8%;

        &:hover {
          filter: saturate(0.8);
        }

        &:focus {
          @include mixins.focusForTabIndex;
        }

        .edit-icon {
          cursor: pointer;
          @include mixins.flex-center;
          font-size: 1.3rem;
          transition: all 0.15s ease-in-out;
        }
      }

      ul {
        @include mixins.flex-center(column);
        height: 100%;
        justify-content: space-between;

        li {
          border-bottom: 2px solid #eee;
          @include mixins.flex-center;
          justify-content: space-between;

          padding-block: 15px;
          width: 100%;

          &:last-child {
            border-bottom: none;
          }

          .password-item {
            display: flex;
          }

          span {
            display: inline-block;
          }

          > span:first-child {
            font-weight: 600;
          }

          span:last-child {
            width: 60%;
          }

          .password-data {
            display: flex;
            gap: 15px;

            span {
              align-self: flex-end;
              padding-top: 2px;
            }

            .eye-icon {
              cursor: pointer;
              font-size: 1.4rem;
              transition: all 0.15s ease-in-out;

              &:hover {
                transform: scale(1.02);
              }
            }

            .hide-password-eye-icon {
              width: 24px;
            }
          }
        }
      }
    }

    .links {
      .links-list {
        background-color: #aaa;
        border-radius: 5px;
        @include mixins.flex-center(column);
        gap: 1px;
        height: 100%;
        justify-content: space-between;

        .links-list__link-info {
          background-color: #fff;
          @include mixins.flex-center;
          gap: 25px;
          justify-content: space-between;
          padding: 10px 12px;
          width: 100%;

          &:first-child {
            border-radius: 5px 5px 0 0;
          }

          &:last-child {
            border-radius: 0 0 5px 5px;
          }

          span:first-child {
            @include mixins.flex-center;
            font-weight: 500;
            gap: 15px;
            justify-content: space-between;

            svg {
              width: 27px;
            }

            #youtube-svg {
              fill: red;

              * {
                fill: red;
              }
            }
          }

          span:last-child {
            text-align: end;

            a {
              color: #686868;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .banner-container {
      display: flex;

      .banner {
        border-radius: 5px;
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  :host {
    .user-profile {
      grid-template-columns: 1fr;
      padding-top: 20px;

      .user-data {
        ul {
          li {
            @include mixins.flex-center;
            justify-content: space-between;

            span:first-child {
              width: auto;
            }

            span:last-child {
              width: auto;
            }
          }
        }
      }
    }
  }
}
